@charset "utf-8";
/* CSS Document */
/*input中placeholder颜色*/
input::-webkit-input-placeholder { color: #d6d6d6;text-indent: 5%; } /* WebKit browsers */
input:-moz-placeholder { color: #d6d6d6;text-indent: 5%; } /* Mozilla Firefox 4 to 18 */ 
input::-moz-placeholder {  color: #d6d6d6;text-indent: 5%; } /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color: #d6d6d6;text-indent: 5%; }/* Internet Explorer 10+ */ 
body{
	background:#ebeef2;
}
section{
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 1rem;
}
.changePSW{
	width: 100%
	height:auto;
}
.changePSW li{
	width: 100%;
	height: auto;
	font-size: 1.4rem;
	line-height: 3rem;
	color: #707375;
	text-indent: 5%;
	margin-top: 1rem;
}
.changePSW input{
	width: 100%;
	height: 2rem;
	padding: 1rem 0;
	border-left: none;
	border-right: none;
	text-indent: 5%;
	font-size: 1.4rem;
	line-height: 2rem
}
.l_exit{
	width: 90%;
	height: 4rem;
	background:#cf1919;
	border-radius: 4px;
	color: #fff;
	font-size: 1.6rem;
	position: absolute;
	bottom: 20%;
	left: 5%;
	letter-spacing: 1rem;
	text-indent: 1rem;
}
.ButtonForAndroid{
	position: relative;
	margin-top:4rem; 
}
.l_disable{
	background: #cbd3d8;
	color: #929da0;
}
.l_changeSuccess{
	background: #fff;
	width: 80%;
	height: auto;
	padding: 1.5rem 0 0.5rem 0;
	border-radius: 6px;
	color: #5a636d;
	font-size: 1.4rem;
	text-align:center;
	line-height: 3rem;
	position: fixed;
	top: 40%;
	left: 10%;
	margin-top: -5rem;
	z-index: 999;
}
.l_changeSuccess span{
	display: block;
	width: 100%;
	line-height: 4rem;
	font-size: 0.8rem;
	color: #b3bdc3;
	text-align: center;
}
.l_changeSuccess button{
	width: 100%;
	height: 4rem;
	font-size: 1.4rem;
	color: #2e9af2;
	border-top:solid 1px #dfe5ea;
	background:transparent;
	letter-spacing: 1rem;
	text-indent: 1rem;
	margin-bottom: -0.5rem;
}
.l_mask{
	 display: none; 
}
