html{
	font-size: 62.5%;
	font-family: "微软雅黑"
}
body,html,.w_wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
.w_wrapper{
	background: url(../images/img/Login_Img_01.png) no-repeat center center;
	background-size: cover; 
}
.w_logo{
	width: 25%;
	height: auto;
	margin: 0 auto;
	padding-top: 3rem;
}
.w_logo img{
	width: 100%;
	height: 100%;
}
.w_formBox{
	width: 100%;
	height: auto;
	margin:0 auto;
	padding-top: 5rem;
}
.w_inputBox{
	width: 85%;
	border-bottom: 1px solid #9e938f;
	padding: 1rem 0;
	margin: 0 auto;
	display: -webkit-box;
	position: relative;
}
.w_inputBox input{
	border: none;
	background: none;
	outline: none;
	color: #fff;
	font-size: 1.2rem;
	padding-right: 3rem; 
}
.w_Icon{
	width: 1.5rem;
	height: auto;
	display: block;
	margin-left: .5rem;
}
.w_Icon img{
	width: 100%;
}
.w_promptBox{
	width: 85%;
	height: 3rem;
	line-height: 3rem;
	color: #b91817;
	font-size: 1rem;
	margin: 0 auto;
}
.prompt,.affirm,.confirm{
	text-indent: 3rem;
	display: none;
}
.promptShow{
	display: block;
	-webkit-animation: promptShow .2s ease 3;
	-moz-animation: promptShow .2s ease 3;
	-ms-animation: promptShow .2s ease 3;
	-o-animation: promptShow .2s ease 3;
	animation: promptShow .2s ease 3;

}
@-webkit-keyframes promptShow{
	0%{
		-webkit-transform:translate3d(-10,0,0);
		-moz-transform:translate3d(-10,0,0);
		-ms-transform:translate3d(-10,0,0);
		-o-transform:translate3d(-10,0,0);
		transform:translate3d(-10,0,0);

	}
	50%{
		-webkit-transform:translate3d(10px,0,0);
		-moz-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		-o-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0);
	}
	10%{
		-webkit-transform:translate3d(0px,0,0);
		-moz-transform:translate3d(0px,0,0);
		-ms-transform:translate3d(0px,0,0);
		-o-transform:translate3d(0px,0,0);
		transform:translate3d(0px,0,0);
	}
	
}
@-moz-keyframes promptShow{
	0%{
		-webkit-transform:translate3d(-10,0,0);
		-moz-transform:translate3d(-10,0,0);
		-ms-transform:translate3d(-10,0,0);
		-o-transform:translate3d(-10,0,0);
		transform:translate3d(-10,0,0);

	}
	50%{
		-webkit-transform:translate3d(10px,0,0);
		-moz-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		-o-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0);
	}
	10%{
		-webkit-transform:translate3d(0px,0,0);
		-moz-transform:translate3d(0px,0,0);
		-ms-transform:translate3d(0px,0,0);
		-o-transform:translate3d(0px,0,0);
		transform:translate3d(0px,0,0);
	}
	
}
@-ms-keyframes promptShow{
	0%{
		-webkit-transform:translate3d(-10,0,0);
		-moz-transform:translate3d(-10,0,0);
		-ms-transform:translate3d(-10,0,0);
		-o-transform:translate3d(-10,0,0);
		transform:translate3d(-10,0,0);

	}
	50%{
		-webkit-transform:translate3d(10px,0,0);
		-moz-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		-o-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0);
	}
	10%{
		-webkit-transform:translate3d(0px,0,0);
		-moz-transform:translate3d(0px,0,0);
		-ms-transform:translate3d(0px,0,0);
		-o-transform:translate3d(0px,0,0);
		transform:translate3d(0px,0,0);
	}
	
}
@-o-keyframes promptShow{
	0%{
		-webkit-transform:translate3d(-10,0,0);
		-moz-transform:translate3d(-10,0,0);
		-ms-transform:translate3d(-10,0,0);
		-o-transform:translate3d(-10,0,0);
		transform:translate3d(-10,0,0);

	}
	50%{
		-webkit-transform:translate3d(10px,0,0);
		-moz-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		-o-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0);
	}
	10%{
		-webkit-transform:translate3d(0px,0,0);
		-moz-transform:translate3d(0px,0,0);
		-ms-transform:translate3d(0px,0,0);
		-o-transform:translate3d(0px,0,0);
		transform:translate3d(0px,0,0);
	}
	
}
@keyframes promptShow{
	0%{
		-webkit-transform:translate3d(-10,0,0);
		-moz-transform:translate3d(-10,0,0);
		-ms-transform:translate3d(-10,0,0);
		-o-transform:translate3d(-10,0,0);
		transform:translate3d(-10,0,0);

	}
	50%{
		-webkit-transform:translate3d(10px,0,0);
		-moz-transform:translate3d(10px,0,0);
		-ms-transform:translate3d(10px,0,0);
		-o-transform:translate3d(10px,0,0);
		transform:translate3d(10px,0,0);
	}
	10%{
		-webkit-transform:translate3d(0px,0,0);
		-moz-transform:translate3d(0px,0,0);
		-ms-transform:translate3d(0px,0,0);
		-o-transform:translate3d(0px,0,0);
		transform:translate3d(0px,0,0);
	}
	
}
.w_reveal{
	position: absolute;
	display: block;
	background: url(../images/img/Login_Icon_04.png) no-repeat center center;
	background-size: contain;
	width: 1.5rem;
	height: 1.5rem;
	top: 50%;
	right: .5rem;
	margin-top: -.7rem;
}
.w_revealShow{
	background: url(../images/img/Login_Icon_03.png) no-repeat center center;
	background-size: contain;
}
.w_forget{
	width: 90%;
	padding: .5rem 0;
	text-align: right;
}
.w_forget a{
	color: #8d8c8a;
}
.w_SignIn{
	width: 90%;
	padding: 1rem 0;
	background: #cf1818;
	color: #fff;
	text-align: center;
	font-size: 1.4rem;
	border-radius: 3px;
	margin: 0rem auto 0 auto;
}
.w_register{
	width: 90%;
	padding: 1rem 0;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	margin: 1rem auto;
	opacity: .4;
}
/*input中placeholder颜色*/
input::-webkit-input-placeholder { color: rgba(202,202,202,.5);text-indent: 1rem; } /* WebKit browsers */
input:-moz-placeholder { color: rgba(202,202,202,.5);text-indent: 1rem; } /* Mozilla Firefox 4 to 18 */ 
input::-moz-placeholder {  color: rgba(202,202,202,.5);text-indent: 1rem; } /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { color: rgba(202,202,202,.5);text-indent: 1rem; }/* Internet Explorer 10+ */  

.inner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;background: rgba(0,0,0,.8); overflow:hidden;
}
.load-container {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  top: 30%;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.load-container a:link,
.load-container a:visited {
  position: absolute;
  bottom: 3px;
  font-size: 1.15em;
  text-align: center;
  left: 0;
  right: 0;
  text-decoration: none;
  color: #FFF;
}
.load-container a:link:hover,
.load-container a:visited:hover {
  text-decoration: underline;
}
.loader {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.no-cssanimations .load-container .loader {
  text-indent: 0;
  text-align: center;
  color: #FFF;
  font-size: 17px;
  background: none;
  border: 0 none;
  width: auto;
  height: auto;
  margin: 1em auto;
  overflow: visible;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}
.no-cssanimations .load-container .loader:before,
.no-cssanimations .load-container .loader:after {
  display: none;
}

.load4 .loader {
  font-size: 1px;
  margin: 5em auto;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
.w_close{
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	margin-left: -4rem;
	display: none;
}
.w_close img{
	width: 100%;
}


